doctype html
html(lang="en")
  head
    link(rel="stylesheet", href="../css/main.css")
    link(rel="stylesheet", href="https://highlightjs.org/static/styles/github.css")
    link(rel="stylesheet", href="highlight.css")
    link(rel="stylesheet", href="styleguide.css")
    style.
      body {
        padding: 20px;
      }
  body
    h1 Legendary style guide
    each component in components
      .markdown-body(id="component-" + component.name)!= component.docs
      
    nav
      ul.Navigation
        each component in components
          li.Navigation-item
            a.Navigation-link(href="#component-" +component.name)= component.title
